@charset 'utf-8';

.header {
  padding: 24px 5%;

  h1 {
    font-size: 2rem;
  }
}

.main {
  padding: 2.4rem 0;
}

.container {
  padding: 0 5%;

  @media screen and (min-width: 900px) {
    padding: 0 calc((100% - 560px) / 2);
  }
}

.form {
  position: relative;
  display: flex;
  align-items: center;

  label {
    position: absolute;
    top: -28px;
    left: 0;
    width: 100%;
    margin-right: 12px;
  }
}

[type="text"] {
  flex: 1 1 auto;
  padding: 12px;
  font-size: 1.4rem;
}

[type="submit"] {
  display: block;
  width: 96px;
  height: 40px;
  margin: 0 0 0 16px;
  padding: 0;
  color: #fff;
  background: var(--color-primary);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}

$item_pd: 12px;

.todo {
  &__wrap {
    margin-top: 24px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 320px;
    margin: 8px 0;
    background: var(--color-sub);
    background: none;
    border: 2px solid var(--color-primary);
    border-radius: 3px;
  }

  &__name {
    border: 0;
    background: none;
    flex: 1 0 auto;
    height: 100%;
    padding: $item_pd 0 $item_pd $item_pd;
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    
    &.-done {
      opacity: .7;
      text-decoration: line-through;
    }
  }

  &__btn {
    border: 0;
    background: none;
    display: inline-block;
    margin-left: 20px;
    padding: $item_pd 0;
    color: var(--color-sub);
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__edit {
    margin-left: auto;
  }

  &__delete {
    margin-left: 12px;
    padding-right: $item_pd;
  }
}
